.header {
  display: block;
}

.header.show {
  animation-name: fade-in-bottom;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}

.header__wrapper {
  padding: 25px 35px;
}
